body{
    background-color: #e0e0e0;
    font-family:  'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.Login{
    color: black;
    margin-right: 10px;
    margin-top: 10px;
}
.logo{
    height: 60px;
    width: 60px;
}
.header{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    padding-top: 80px;
    margin-left: 4%;
    margin-right: 4%;
}
.content1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 400px;
    border-style: solid;
    border-width: 1px;
    border-color: black;
}
.content1-1{
    width: min-content;
    text-align: center;
    padding-top: 20px;
    flex-grow: 4;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-right: 1px;
    border-style: solid;
    border-color: black;
}
.innercontent{
    padding: 20px 20px 20px 20px;
    align-items: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.innerinput{
    width: 50%;
}
.input{
    padding: 15px 15px 15px 15px;
}
.inputbut{
    margin-left: 130px;
}
.inputbut1{
    padding: 5px 5px 5px 5px;
}
h4{
    font-family: cursive;
}

.icon{
    height: 20px;
    width: 22px;
}
img{
    height: 350px;
    width: 500px;
}

.contact{
    margin-bottom: 15px;
}
.footer{
    background-color: rosybrown;
    width: 100%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: auto;
}
.first{
    padding-top: 15px;
    padding-left: 25px;
}
.middle{
    margin-top: 15px;
}
.third{
    padding-top: 15px;
    padding-right: 15px;
}
.checked {
    color: orange;
  }
 .carousel-inner{
     margin-left: 20px;
     margin-right: 20px;
 }
 .arrows{
    background-color: rosybrown;
 }
  .carousel-item{
      padding-left: 200px;
      padding-right: 200px;
  }
  