body{
    margin: 0px;
    background-color: #e0e0e0;
}
.logo{
    height: 60px;
    width: 60px;
}
.cities{
    height: 150px;
    width: 150px;
    border-radius: 25%;
    padding: 4% 4% 4% 4%;
}
#content1{
    margin-left: 200px;
}
.icon{
    height: 20px;
    width: 22px;
}
.container{
    height: 100%;
    width: 100%;
}
.header{
    background-color: rosybrown;
}
.header1{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
}
.footer{
    background-color: rosybrown;
}