.container1{
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flexbox;
}
body{
    min-height: 100%;
    margin: 0px;
    background-color: #e0e0e0;
    font-family:  'Ubuntu', sans-serif;
}
.logo{
    height: 60px;
    width: 60px;
    padding-top: 2px;
    padding-left: 2px;
}
.Login {
    margin-top: 10px;
    margin-right: 10px;
}
.contact{
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
}
.modal-body{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.div1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
a{ 
    color: black;
    text-decoration: none;
}
.viewMore{
    color: black;
    text-decoration: none;
    margin-bottom: 70px;
    margin-left: 700px;
    text-align: center;
}
.cities{
    height: 150px;
    width: 150px;
    border-radius: 30%;
    box-shadow: 10px 10px 10px grey;
    cursor: pointer;
}
.primary{
    position: relative;
    border-radius: 30%;
    cursor: pointer;
}
.secondary{
  border-radius: 30%;
  position: absolute;
  top: 0; bottom: 0; right: 0; left: 0;
  opacity: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  text-align: center;
  padding-top: 45px;
  transition: 0.4s ease-out;
}
.primary:hover .secondary{
    opacity: 1.6;
}
.content{
    padding-top: 20px;
}
.content1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
#innerContent1{
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
}
.icon{
    height: 20px;
    width: 22px;
}
.headercontent{
    display: flex;
    flex-direction: column;
}
.header{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header1{
    background-image: url(https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg);
    background-size: cover;
    width: 100%;
    height: 650px;
}
.searchBar{
    margin-top: 350px;
    margin-left: 550px;
    width: 24%;
    height: 5%;
    background-color: #f1f1f1;
    border-radius: 5px;
    border: none;
    resize: none;
    outline: none;
}
.footer{
    background-color: rosybrown;
    width: 100%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: auto;
}

.flex-container{
    align-items: center;
    justify-content: space-between;
}
.first{
    padding-left: 25px;
}
.third{
    padding-right: 15px;
}