body{
    margin: 0px 0px 0px 0px;
    background-color:  #e0e0e0;
    font-family:  'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
}
.header{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.content{
    padding-top: 50px;
}
.logo{
    height: 60px;
    width: 60px;
}
.icon{
    height: 20px;
    width: 22px;
}
.city{
    text-decoration: none;
    height: 150px;
    width: 150px;
}

.card{
    display: flex;
    flex-direction: row;
    margin: 2% 2% 2% 2%;
    background-color:lightgrey;
    width: 40%;
}

.login{
    text-decoration: none;
}
.login1{
    color: black;
    margin-right: 20px;
    margin-top: 20px;
}
#list{
    text-decoration: none;
    color: black;
    padding-right: 20px;
}
#map{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.views{
    padding-left: 650px;
    padding-top: 12px;
}
.listView{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
}
.contact{
    color: black;
}
.footer{
    background-color: rosybrown;
    width: 100%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: auto;
}
.viewMore{
    padding-left: 700px;
    padding-bottom: 85px;
}
.flex-container{
    align-items: center;
    justify-content: space-between;
}
.first{
    padding-top: 15px;
    padding-left: 25px;
}
.third{
    padding-top: 15px;
    padding-right: 15px;
}