body{
    margin: 0px 0px 0px 0px;
    background-color:  #e0e0e0;
    font-family:  'Ubuntu', sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
.logo{
    height: 60px;
    width: 60px;
}
.icon{
    height: 20px;
    width: 22px;
}
.header{
    background-color: rosybrown;
    width: 100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.Login{
    color: black;
    margin-right: 10px;
    margin-top: 10px;
}
.footer{
    background-color: rosybrown;
    width: 100%;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    margin-top: auto;
}
.contact{
    margin-bottom: 10px;
}
.first{
    padding-top: 15px;
    padding-left: 25px;
}
.middle{
    margin-top: 15px;
}
.third{
    padding-top: 15px;
    padding-right: 15px;
}
.content{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
}
.content1{
    margin-top: 150px;
    margin-left: 450px;
    display: flex;
    flex-direction: row;
    background-color: rgb(132, 136, 139);
    width: 40%;
}
.content1-2{
    padding-left: 15px;
}
.bottom{
    height: 160px;
    text-align: center;
    border-style: solid;
    border-radius: 5px;
    border-width: 1px;
    border-color: black;
    margin-top: 50px;
    margin-left: 35px;
    margin-right: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rosybrown;
}
.city{
    text-decoration: none;
    height: 150px;
    width: 150px;
}
.content2{
    height: 90px;
    margin: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
}
.pay{
    margin-top: 40px;
}